@model ProyectoPP.Models.Roles

@{
    ViewBag.Title = "VistaRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>

</p>


@using (Html.BeginForm("Aceptar", "Roles"))
{
    <p align="left">
        <button type="button" onclick="Editar(@(Model.ListaRoles.Count),@(Model.ListaPermisos.Count))" class="btn btn-default">Editar</button>
        </p>
        <table class="table">
            <tr>
                <th>
                    Funcionalidad
                </th>
                <th></th>
                <th>
                    Rol
                </th>
            </tr>
            <th></th>


            @for (int i = 0; i < Model.ListaRoles.Count; i++)
            {
                <td>
                    @Html.DisplayFor(modelItem => Model.ListaRoles.ElementAt(i).Name)
                </td>



            }

            <tr></tr>

            @for (int i = 0; i < Model.ListaPermisos.Count; i++)
            {
                <td>@Html.DisplayFor(modelItem => Model.ListaPermisos.ElementAt(i).permiso)</td>

                for (int j = 0; j < Model.ListaRoles.Count; j++)
                {
                    for (int k = 0; k < Model.ListaGuardar.Count; k++)
                    {

                        if (Model.ListaGuardar.ElementAt(k).permiso == Model.ListaPermisos.ElementAt(i).id_permiso
                            && Model.ListaGuardar.ElementAt(k).rol == Model.ListaRoles.ElementAt(j).Id
                            )
                        {
                            <td>
                                @Html.CheckBoxFor(model => Model.ListaGuardar[k].existe,
                         new { @disabled = "disabled", @checked = "checked", @id = i + "_" + j })
                            </td>
                        }


                    }
                }
                <tr></tr>

            }





        </table>

<p align="left">
    <button type="button" onclick="Editar(@(Model.ListaRoles.Count),@(Model.ListaPermisos.Count))" class="btn btn-default">Editar</button>
    @*<input type="button" value="Aceptar" class="btn btn-default" />*@
    <button class="btn btn-default" type="submit">Aceptar</button> 
    <button class="btn btn-default" onclick="location.href='@Url.Action("RolesView", "Roles")';return false;">Cancelar</button>
    @*
    @using (Html.BeginForm("RolesView", "Roles", new { }, FormMethod.Post, new
    {
        @style="float:right;"
    }))
    {
        
        <input type="submit" value="Aceptar"/>
        <input type="submit" value="Cancelar" />
    }
    *@
</p>

<br />
<br />
}
<script>
    function Editar(numRoles, numPermisos)
    {
        alert("Asigne los roles usando los checkbox");

        for (var i = 0; i < numPermisos; i++)
        {
            for (var j = 0; j < numRoles; j++)
            {  
                document.getElementById(i+'_'+j).removeAttribute("disabled");
            }
        }
        
    }
</script>







