@model ProyectoPP.Models.persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body bgcolor="FFFFFF">
    <h2>Eliminar</h2>

    <h3>¿Está seguro que desea eliminar este usuario?</h3>
    @using (Html.BeginForm())
    {

    <div>
       
        <div class="form-group">                
             @Html.DisplayNameFor(model => model.carne)                
        </div>

        <div class="form-group">  
               
             @Html.DisplayFor(model => model.carne)
                
        </div>
               
        <div class="form-group">
            @Html.DisplayNameFor(model => model.cedula)
        </div> 
        <div class="form-group">
            @Html.DisplayFor(model => model.cedula)
        </div>  
        <div class="form-group">
            <Br />
            @Html.DisplayNameFor(model => model.nombre)
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.nombre)
        </div>
      
        
        <div class="form-group">
            @Html.DisplayNameFor(model => model.apellido1)
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.apellido1)
        </div>
        <div class="form-group">

            @Html.DisplayNameFor(model => model.apellido2)
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.apellido2)
        </div>
        <div class="form-group">

            @Html.DisplayNameFor(model => model.email)
        </div>
        <div class="form-group">
            @Html.DisplayFor(model => model.email)
        </div>


        <div class="form-group">
            @Html.ActionLink("Aceptar", "Delete", "personas", new { id = Model.cedula }, new { @class = " btn btn-default " })

        </div>

      </div>
    }
</body>
