@model ProyectoPP.Models.persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body bgcolor="FFFFFF">
    <h2>Eliminar</h2>

    <h3>¿Está seguro que desea eliminar este usuario?</h3>
    <div>
        <h4>Usuario:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.carne)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.carne)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaNac)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaNac)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.genero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.genero)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Cancelar", "Index")
            </div>
        }
    </div>
</body>
