@model ProyectoPP.Models.persona

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body bgcolor="FFFFFF">
    <h2>Eliminar</h2>

    <h3>¿Está seguro que desea eliminar este usuario?</h3>
     
    <div>
       
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.carne)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.carne)
            </dd>
            <Br />
            <dt>
                @Html.DisplayNameFor(model => model.cedula)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.cedula)
            </dd>
            <Br />
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <Br />
            <dt>
                @Html.DisplayNameFor(model => model.apellido1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.apellido1)
            </dd>
            <Br />
            <dt>
                @Html.DisplayNameFor(model => model.apellido2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.apellido2)
            </dd>
            <Br />
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

        </dl>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" />
            </div>
        </div>

    </div>

</body>
