l﻿@model ProyectoPP.Models.persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>persona</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.carne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>


               

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cedula }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.cedula }) |
    @Html.ActionLink("Cancelar", "Index")
    
</p>
