@model ProyectoPP.Models.historiasDeUsuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>historiasDeUsuario</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-6 col-md-10">
            <!--Estos botones funcionan como los action links. Solo que el orden de los parametros es un poco distinto en el orden-->
            <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "historiasDeUsuarios", new { id = Model.id })'">JAJAJA</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Delete", "historiasDeUsuarios", new { id = Model.id })'">Eliminar</button>
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.funcionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroEscenario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroEscenario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyecto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sprint.proyectoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sprint.proyectoId)
        </dd>

    </dl>
    <p>
        @*@@Html.ActionLink("Edit", "historiasDeUsuarios", new { id = Model.id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
