<!DOCTYPE html>
@*
@functions 
{
     
    private ProyectoPP.Models.patopurificEntitiesRoles enRoles = new ProyectoPP.Models.patopurificEntitiesRoles();

    private ProyectoPP.Models.patopurificEntitiesUserRoles pEUR = new ProyectoPP.Models.patopurificEntitiesUserRoles();

    private bool revisarPermisos(string permiso)
    {

        String userID = System.Web.HttpContext.Current.User.Identity.Name;
        var rol = pEUR.AspNetUsers.Where(m => m.AspNetRoles.Any(n => n.Id == userID));

        var permisoID = enRoles.permisos.Where(m => m.permiso == permiso).First().id_permiso;
        var listaRoles = enRoles.AspNetRoles.Where(m => m.permisos.Any(c => c.id_permiso == permisoID)).ToList().Select(n => n.Id);
        bool userRol = listaRoles.Contains(rol.Id);
        return userRol;
    }

}
    *@

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SCRUM Planning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Administrar Usuarios", "Index", "personas")</li>
                        <li>@Html.ActionLink("Asignar Roles", "UsuarioRol", "UsuarioRol")</li>
                        
                        @if (Request.IsAuthenticated)
                        {
                            //if (revisarPermisos("ver accesos"))
                            //{
                                <li>@Html.ActionLink("Roles", "RolesView", "Roles")</li>
                            //}
                        }
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -👍 Pato Purific </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
