@model IEnumerable<ProyectoPP.Models.proyecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Proyectos</h2>

<div class="form-group">
    <div class="col-md-offset-10 col-md-10">
        <!--Estos botones funcionan como los action links. Solo que el orden de los parametros es un poco distinto en el orden-->
        <button class="btn btn-default" onclick="location.href='@Url.Action("Create", "proyecto")'">Insertar Nuevo</button>
    </div>
</div>

<br /><br /><br /><br />

<table class="table">

    <tbody style="background-image:url(pato4.jpg); background-repeat:no-repeat">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lider)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFinal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.persona1.nombre)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.id })

                </td>
            </tr>
        }
    </tbody>
</table>
