@using System;
@using System.Collections.Generic;
@using System.Globalization;
@using System.Linq;
@using System.Security.Claims;
@using System.Data;
@using System.Data.Entity;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using System.Threading.Tasks;
@using ProyectoPP.Models;
@using System.Text.RegularExpressions;
@using System.Runtime.Remoting.Contexts;

@model ProyectoPP.Models.proyecto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Proyectos</h2>

<div class="form-group">
    <div class="col-md-offset-10 col-md-10">
        <!--Estos botones funcionan como los action links. Solo que el orden de los parametros es un poco distinto en el orden-->
        <button class="btn btn-default" onclick="location.href='@Url.Action("Create", "proyecto")'">Insertar Nuevo</button>
    </div>
</div>

<br /><br /><br /><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(UserManager.FindByName(userName); )
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lider)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
